body {
  font-family: Arial, Helvetica, sans-serif;
}
header {
  background-color: coral;
  color:rgb(213, 213, 213);
  text-align: center;
}
h1 {
  margin: 0px;
  padding: 19px 0px;
}
ul {
  background-image: url(./thumbnails/best1.jpg);
  
}
li {
  list-style: none;
  display: inline-block;
  padding: 16px 10px;
}
a {
  color: white;
  text-decoration: none;
}